<section id="add_class_header">
  <div class="container" ng-controller="AddClassCtrl">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-heading">Class Management</h2>
        <h3 class="section-subheading text-muted">Choose only what you like</h3>
      </div>
    </div>
    <div class="row">
      <uib-tabset class="tab-animation">
        <uib-tab heading="Home">
          <div id="add_class_calendar" ng-include="'views/class_calendar.html'" ng-controller="ClassCldrCtrl" ng-mouseenter="renderCalendar('classbookCal1')"></div>
        </uib-tab>
        <uib-tab heading="Class Search">
          <div id="add_class_search" ng-include="'views/class_search.html'" ></div>
        </uib-tab>
        <uib-tab heading="Class Recommendation" ng-click="getRecommendClasses()">
          <div id="add_class_recommend" ng-include="'views/class_recommendation.html'" ></div>
        </uib-tab>
      </tabset>
    </div>
  </div>
</section>