<section id="add_class_header">
  <div class="container" ng-controller="AddClassCtrl">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-heading">Add Class</h2>
        <h3 class="section-subheading text-muted">Choose only what you like</h3>
      </div>
    </div>
    <div class="row">
      <ul class="nav nav-tabs">
        <li><a href ng-click="tab=1;changeView('agendaWeek', 'classbookCal1');">Home</a></li>
        <li><a href ng-click="tab=2">Class Search</a></li>
      </ul>
      <div id="add_class_calendar" ng-include="'views/class_calendar.html'" ng-hide="tab!=1"></div>
      <div id="add_class_search" ng-include="'views/class_search.html'" ng-hide="tab!=2"></div>
    </div>
  </div>
</section>
