
<!--   <div class="row">
    <uib-tabset class="tab-animation">
      <uib-tab heading="Friend Requests" ng-click="getFriendRequests()">
        <div id="add_class_calendar" ng-include="'views/friend_request.html'"></div>
      </uib-tab>

      <uib-tab heading="Search User">
        <div id="add_class_search" ng-include="'views/friend_search.html'"></div>
      </uib-tab>
    </uib-tabset>
  </div>
 -->
  <h2> Friend requests </h2>
  <div id="add_class_calendar" ng-include="'views/friend_request.html'"></div>

  <hr>

  <h2> Add friend </h2>
  <div id="add_class_search" ng-include="'views/friend_search.html'"></div>

