<div>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">Class Info</h4>
    </div>
    <div class="modal-body">
      <div class="user-info-edit-heading">Class Name:
        <span>
          {{classInfo.classData.className}}
        </span>
      </div>
      <div class="user-info-edit-heading">Lecture Time:
        <span>
          {{lectureTime}}
        </span>
      </div>
      <div class="user-info-edit-heading">Discussion:
        <span>
          {{classInfo.classData.discussion.discussionName}}
        </span>
      </div>
      <div class="user-info-edit-heading">Discussion:
        <span>
          {{discussionTime}}
        </span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" ng-click="cancel()">Close</button>
      <button type="button" class="btn btn-default" ng-click="drop(classInfo.classId)">Drop Class</button>
    </div>
  </div>
</div>