<div class="row">
  <div class="col-lg-12 text-center">
    <h2 class="section-heading"><br>Class Recommendation</h2>
    <br>
  </div>
</div>
<div class="row">
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Class Name</th>
        <th>Lecture Time</th>
        <th>Discussion</th>
        <th>Discussion Time</th>
        <th>Department</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="course in recommendClasses">
        <td style="width: 100px; text-align: center">
          <button class="btn btn-success" ng-click="enroll(course)">Enroll</button>
        </td>
        <td>{{course.className}}</td>
        <td>{{course.lectureTime}}</td>
        <td>{{course.discussionName}}</td>
        <td>{{course.discussionTime}}</td>
        <td>{{course.department}}</td>
      </tr>
    </tbody>
  </table>
</div>
