<!-- Header -->
<header>
  <div class="row intro-text">
    <div class="intro-title col-xs-7">
      <div class="intro-lead-in">CLASSBOOK</div>
      <div class="intro-heading">
        Love classes, from now.
      </div>
    </div>
    <div class="col-xs-offset-1 col-xs-3" ng-switch on="isFormSignUp">
      <form ng-switch-when="false" class="form-signin">
        <h2 class="form-signin-heading">Sign in</h2>
        <div class="form-group" id="inputEmail-sign-in-form-group">
          <label for="inputEmail-sign-in" class="sr-only">Email address</label>
          <input type="email" id="inputEmail-sign-in" class="form-control" placeholder="Email address" ng-model="signInForm.email" required autofocus>
        </div>
        <div class="form-group" id="inputPassword-sign-in-form-group">
          <label for="inputPassword-sign-in" class="sr-only">Password</label>
          <input type="password" id="inputPassword-sign-in" class="form-control" placeholder="Password" ng-model="signInForm.password" required>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block sign-in-button" type="submit" ng-click="signIn()">Sign in</button>
      </form>
      <form ng-switch-when="true" class="form-signup">
        <h2 class="form-signup-heading">Sign up</h2>
        <div class="form-group" id="inputEmail-sign-up-form-group">
          <label for="inputEmail-sign-up" class="sr-only">Email address</label>
          <input type="email" id="inputEmail-sign-up" class="form-control" placeholder="Email address" ng-model="signUpForm.email" required autofocus>
        </div>
        <div class="form-group" id="inputPassword-sign-up-form-group">
          <label for="inputPassword-sign-up" class="sr-only">Password</label>
          <input type="password" id="inputPassword-sign-up" class="form-control" placeholder="Password" ng-model="signUpForm.password" required>
        </div>
        <div class="form-group" id="inputPasswordConfirmation-sign-in-form-group">
          <label for="inputPasswordConfirmation-sign-up" class="sr-only">Password Confirmation</label>
          <input type="password" id="inputPasswordConfirmation-sign-up" class="form-control" placeholder="Password Confirmation" ng-model="signUpForm.password_confirmation" required>
        </div>
        <!--<div class="checkbox">-->
        <!--<label>-->
        <!--<input type="checkbox" value="remember-me"> Remember me-->
        <!--</label>-->
        <!--</div>-->
        <button class="btn btn-lg btn-primary btn-block sign-up-button" type="submit" ng-click="signUp()">
          Sign up
        </button>
      </form>
    </div>
  </div>
</header>
